input[type="submit"] {
	width: 100%;
	font-size: 13px;
	color: #fff;
	display: inline-block;
	padding: 11px 0px;
	text-align: center;
	background-color: #5c87a6;
	border: 1px solid #5c87a6;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 1s;
}

--hover-- input[type="submit"]:hover {
	color: #5c87a6;
	background-color: #ffffff;
	border: 1px solid #5c87a6;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 1s;
}

.navigation {
	/* flexboxで要素を真ん中に指定 */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navigation ul {
	width: 100%;
}

.button {
	display: block;
	padding: 10px;
	background: white;
	width: 15%;
	float: left;
	/* 上下にボーダーを指定 */
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	/* カーソルを離した際のアニメーションの速度調整 */
	transition: .2s all;
}

.button p {
	height: 10px;
	font-weight: 300;
}

.button a {
	color: #333333;
	/* リンク指定した要素のスタイルを削除 */
	text-decoration: none;
}

.navigation:hover .button {
	/* ナビゲーションをマウスオーバーした際のアニメーションの動きを指定 */
	filter: blur(3px);
	/* 全てのボタンがぼやける */
	opacity: .8;
	/* 全てのボタンを通常サイズに指定 */
	transform: scale(1);
}

.navigation:hover .button:hover {
	/* アニメーション速度を指定 */
	transition: .6s;
	/* hoverしたボタンを少し拡大するように指定 */
	transform: scale(1.1);
	/* hoverしている要素のみぼやけない指定 */
	filter: blur(0px);
	opacity: 1;
	/* ボタンをhoverした際に上下のボーダーの色を濃くする */
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

.navigation:hover .button:hover>p {
	font-weight: bold;
}


ul {
	display: table;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	text-align: center;
}

ul li {
	display: table-cell;
	min-width: 50px;
}

ul li a {
	display: block;
	width: 100%;
	padding: 10px 0;
	text-decoration: none;
	color: rgb(64, 128, 128);
	font-weight: bold;
}

ul li a:hover {
	color: #E71B1F;
}